.body {
    background: cornflowerblue;
    .list_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .film_list {
            color: white;
            background: #079797;
            width: 300px;
            border-radius: 10px;
            padding: 1rem;
            .title{
                background: white;
                color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 0.5rem 1rem;
                
            }
            .ul{               
                padding-left: 0;
                .li{
                    margin-bottom: 1rem;
                    border: 1px solid black;
                    list-style: none;
                    border-radius: 10px;
                    padding: 1rem;
                }
            }
        }
    }
}
